<!doctype html>

{% extends "layout.html" %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>

  <h1 class="text-center font-weight-bold">Upcoming Events</h1>
  <hr class="featurette-divider">


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <body class="container-lg row text-center">
      <div class="row">
        <div class="column col-lg ">
          <div>
            <img class="rounded-circle mx-auto d-bloc" width="140" height="140" src="static/office_pics/beer.jpg" focusable="false"><title>Happy Hour!</title><rect width="100%" height="100%" fill="#777"/></text></img>
          </div>
          <h2><p class="text-center">Happy Hour!!</p></h2>
          <p class="text-center">Come and join us at the local Irish Pub for drinks at 5PM.</p>
            <div class="column text-center">
              <p><a class="btn btn-secondary align-self-center>" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div><!-- /.col-lg -->
      </div>
      </body>

      <div class="row">

         <div class="container marketing">
          <hr class="featurette-divider">
          <h1 class="text-center font-weight-bold">See below for past events</h1>
         </div>

      </div>

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Dinner Meet up T.G.I.F. at the mall</h2>
          <p class="lead">We all had a great time networking. It was wonderful to make some great connections!</p>
        </div>
        <div class="col-md-5">
          <img class="img-thumbnail"  src="static/office_pics/Fridays.jpg" focusable="false"><title>Happy Hour!</title><rect width="100%" height="100%" fill="#777"/></text></img>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Theme park meetup </h2>
          <p class="lead">It was such a blast to meet up at the park. The coasters were crazy fast!</p>
        </div>
        <div class="col-md-5 order-md-1">
          <img class="img-thumbnail" src="static/office_pics/universal.jpg" focusable="false"><title>Happy Hour!</title><rect width="100%" height="100%" fill="#777"/></text></img>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Our first ever meetup!</h2>
          <p class="lead">We went to the orchestra! It was wonderful to finally meet each other.</p>
        </div>
        <div class="col-md-5">
          <img class="img-thumbnail" src="static/office_pics/hall.jpg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em"></text></div>
        </div>
      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->

      <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    </body>
  </html>

{% endblock content %}
